<header class="container-header">
    <div class="header-left">
      <a href="/">
        {{ section.settings.logo_site }}
      </a>
      <div class="header-menu">
        <div class="menu-hamburguer-mobile activate_menu_mobile">
          <a class="toggle-menu">
            <svg class="icon-hamburger" width="25" height="25" viewBox="0 0 20 20" fill="#fff" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 4h18M1 10h18M1 16h18" stroke="#fff"></path>
            </svg>
          </a>
        </div>
        <div class="nav-list list-menu">
          <div class="btn-close-menu activate_menu_mobile">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" fill="none" viewBox="0 0 18 17">
              <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
              </path></svg>
          </div>
          {%- for link in section.settings.menu_links.links -%}
            <a class="header-menu-link header-label" href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="header-right">
      <span class="header-label"><strong>ES</strong></span>
      <span class="header-label">EN</span>
    </div>
</header>
{% schema %}
  {
    "name": "Header contenido",
    "settings": [
      {
        "type": "liquid",
        "id": "logo_site",
        "label": "Agregue el logo del sitio (SVG)"
      },
      {
        "type": "link_list",
        "id": "menu_links",
        "label": "Seleccione el menú"
      }
    ]
  }
{% endschema %}